<ion-modal-view>
    <ion-header-bar class="bar-header">
        <h1 class="title">{{'Info' | translate}}</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-body">
                <p>
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                </p>

            </div>

        </div>
    </ion-content>
</ion-modal-view>
