<ion-view class="page--wallet" view-title="">
    <pc-logo></pc-logo>
    <ion-content class="has-header content--no-footer">
        <div class="item item-divider">
            {{'Payment password' | translate}}
        </div>
        <div class="padding20 form">
            <p>{{'Please enter your payment password to verify' | translate}}</p>
            <security-password-validate
            key="paymentPassword.key"
            random-factor="paymentPassword.randomFactor"
            widget-id="bindCard"
            valid-type="BBind"
            callback="paymentPassword.submit(authCode)"></security-password-validate>
            <div class="text-right">
                <a ui-sref="dash.forgetPaymentPasswordStep1">{{'Forgot password?' | translate}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>
