<ion-view view-title="">

    <ion-content class="has-header">
        <div class="item item-divider">
            {{'Payment password' | translate}}
        </div>
        <div class="padding20 form">

            <p>{{'Please enter your payment password to verify' | translate}}</p>

            <security-password-validate
                key="passwordUnlinkBankCard.key"
                random-factor="passwordUnlinkBankCard.randomFactor"
                widget-id="unlinkCard"
                valid-type="BUnbind"
                callback="passwordUnlinkBankCard.unlinkCard(authCode)"></security-password-validate>

        </div>
    </ion-content>
</ion-view>
