# OSX
#
.DS_Store


.sass-cache
node_modules
bower_components
dist
etc
coverage
.DS_Store
app/js/template.js
app/js/env.js
cordova/icons
cordova-build
BMWLP_Android
BMWLP_IOS
build-cordova-DEV
build/
fastlane/.env
BMWLP.app.dSYM.zip
BMWLP.ipa
fastlane/README.md
fastlane/report.xml
npm-debug.log
/po/*.mo
app/js/translations/po/*.js
fastlane/android-certs/
