<ion-view can-swipe-back="false">
    <ion-content class="has-header">

        <div class="item item-divider">
            {{'Change PIN' | translate}}
            <div steps-navigation label="'1/4' | translate"></div>
        </div>

        <div class="padding20 form">

            <form name="step1Form">
                <p>{{'One time password is sent to number:' | translate}}{{changePinStep1.phoneNumber}}</p>

                <label class="item-input">
                    <span class="item-label">{{'OTP' | translate}}</span>
                    <input type="tel" ng-model="changePinStep1.formData.smsCode" required>
                </label>

                <button class="button" on-click="changePinStep1.requestOTP()" is-sent="changePinStep1.isOTPSent" count-down="changePinStep1.countDown" label="{{'Resend Code' | translate}}">
                </button>

                <form-error error-msg="changePinStep1.errorMsg"></form-error>

                <div class="row row-no-padding padding-vertical">
                    <button class="button button-full button-positive" ng-disabled="step1Form.$invalid" ng-click="changePinStep1.submit()">
                        {{'Next' | translate }}
                    </button>
                </div>

            </form>

        </div>
    </ion-content>
</ion-view>
