<ion-view view-title="">
    <ion-content class="content--no-footer">
        <div class="list">
            <div class="item item-divider">
                {{'Points Expiry' | translate}}
            </div>
            <div class="item item-body">
                <p>{{'Please note: once points have past the expiry dates, they can no longer be redeemed. Make the most of your points and redeem them before they expire.' | translate}}</p>
                <div class="divider"></div>
                <div class="row item_divider">
                    <div class="col">
                        <span class="list-label">{{'Expiry date' | translate}}</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-label">{{'Points expiring' | translate}}</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-label">{{'Total of points' | translate}}</span>
                    </div>
                </div>
                <div class="row item_divider">
                    <div class="col">
                        <span class="list-value">5/16/2019</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">500</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">900</span>
                    </div>
                </div>
                <div class="row item_divider">
                    <div class="col">
                        <span class="list-value">5/16/2019</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">500</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">900</span>
                    </div>
                </div>
                <div class="row item_divider">
                    <div class="col">
                        <span class="list-value">5/16/2019</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">500</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">900</span>
                    </div>
                </div>
                <div class="row item_divider">
                    <div class="col">
                        <span class="list-value">5/16/2019</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">500</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">900</span>
                    </div>
                </div>
                <div class="row item_divider">
                    <div class="col">
                        <span class="list-value">5/16/2019</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">500</span>
                    </div>
                    <div class="col text-right">
                        <span class="list-value">900</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
