<div class="items-group">
    <div class="item item-no-icon bottom-linear-gradient white-space__normal">
         {{'expore bmw event, media and news' | translate}}
    </div>
    <div class="sub-item">

        <a side-menu-item="BMW Chat Wallpaper" class="item item-icon-right" ng-click="dash.openExternalLinkInDeviceBrowser(dash.chatWallpaper(), 'BMW Chat Wallpaper')">
            <i class="icon-bmw-bmwwallpaper"></i> {{'BMW Chat Wallpaper' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW GIF Stickers" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLinkInDeviceBrowser(dash.gifStickers(), 'BMW GIF Stickers')">
            <i class="icon-bmw-bmwgifsticker"></i> {{'BMW GIF Stickers' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW Digital Magazine" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLinkInDeviceBrowser(dash.digitalMagazine(), 'BMW Digital Magazine')">
            <i class="icon-bmw-bmwmagazine"></i> {{'BMW Digital Magazine' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW Website" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.mobisite())">
            <i class="icon-bmw-bmwweb"></i> {{'BMW Website' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW Apps" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.apps())">
            <i class="icon-bmw-bmwapp"></i> {{'BMW Apps' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW Social Media" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.subscriptionHistory())">
            <i class="icon-bmw-mediagallery"></i> {{'BMW Social Media' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW Ringtone" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.ringtone())">
            <i class="icon-bmw-bmwringtone"></i> {{'BMW Ringtone' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW TV" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.tv())">
            <i class="icon-bmw-bmtv"></i> {{'BMW TV' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

         <a side-menu-item="BMW Official Owner Club" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.bmwOfficialOwnerClub())">
            <i class="icon-bmw-BMWOfficialOwnerClub"></i> {{'BMW Official Owner Club' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
