<div class="items-group">
    <div class="item item-no-icon bottom-linear-gradient white-space__normal">
         {{'reachnow' | translate}}
    </div>
    <div class="sub-item">
        <a side-menu-item="Book a car" class="item item-icon-right" ng-click="dash.openExternalLinkInDeviceBrowser(dash.reachnowBookACar(), 'Book a car')">
            <i class="icon-mobi-bookacar"></i> {{'Book a car' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a side-menu-item="My Trips" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLinkInDeviceBrowser(dash.reachnowMyTrips(), 'My Trips')">
            <i class="icon-mobi-MyTrips"></i> {{'My Trips' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a side-menu-item="Support" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLinkInDeviceBrowser(dash.reachnowSupport(), 'Support')">
            <i class="icon-mobi-Support"></i> {{'Support' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
         <a side-menu-item="More" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLinkInDeviceBrowser(dash.reachnowMore(), 'More')">
            <i class="icon-mobi-More"></i> {{'More' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
