<div class="items-group">
    <div class="item item-no-icon bottom-linear-gradient white-space__normal">
         {{'Communicate with BMW China' | translate}}
    </div>
    <div class="sub-item">
        <a side-menu-item="Customer Interactive Center" class="item item-icon-right" ng-click="dash.callPhone('4008006666')">
            <i class="icon-bmw-customer-interactive"></i> {{'Customer Interactive Center' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Personal Assistant" class="item item-icon-right linear-gradient" ng-click="dash.closeSideBar()" ui-sref="dash.chat">
            <i class="icon-bmw-persional-assistant"></i> {{'Personal Assistant' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Roadside Assistance" class="item item-icon-right linear-gradient" ng-click="dash.callPhone('4008129999')">
            <i class="icon-bmw-roadside-assistance"></i> {{'Roadside Assistance' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="BMW Customer Services Overview" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.bmwCustomerServiceOverview)">
            <i class="icon-bmw-service-overview"></i> {{'BMW Customer Services Overview' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Join Events" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.joinYourBMWEvents())">
            <i class="icon-bmw-join-events"></i> {{'Join Events' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Share Feedbacks" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.shareFeedback())">
            <i class="icon-bmw-share-feedback"></i> {{'Share Feedbacks' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
