<div class="items-group">
    <div class="item item-no-icon bottom-linear-gradient white-space__normal">
         {{'Buy bmw certified used car online' | translate}}
    </div>
    <div class="sub-item">
        <a side-menu-item="Discover bmw certified used car" class="item item-icon-right" ng-click="dash.openExternalLink(dash.bmwUsedCarDiscover)">
            <i class="icon-bmw-DiscoverBMWCertifiedUsedCar"></i> {{'Discover bmw certified used car' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Find a car and negotiate online" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.bmwUsedCar)">
            <i class="icon-findcar-negociete"></i> {{'Find a car and negotiate online' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
