<div class="items-group">
    <div class="item item-icon-left bottom-linear-gradient white-space__normal">
        <i class="bmw-more-financial-service"></i> {{'BMW financial service' | translate}}
    </div>
    <div class="sub-item">

        <a side-menu-item="bmw financial service self-service" class="item item-icon-right" ng-click="dash.openExternalLink(dash.financeSelfService())">
            <i class="icon-financial-BMW_Financial_Service_Self-Service"></i> {{'bmw financial service self-service' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="How to use Self-Service" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('https://cmscn.bmwgroup.com/content/bmw-wechat/ZH_CN/bmw_financeservice/mobile_guide.html')">
            <i class="icon-financial-How_to_use_Self-Service"></i> {{'How to use Self-Service' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a side-menu-item="financial service calculator" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('http://www.bmw.com.cn/zh/topics/experience/bmw-financial-services/calculator.html#bookmark=aHR0cDovL3d3dy5ibXcuY29tLmNuL2NvbnRlbnQvZGFtL2Jtdy9tYXJrZXRDTi9ibXdfY29tX2NuL3NmLWNhbGMvaW5kZXguaHRtbCMhL2ZzX2NhY3VsYXRvcl9zdGFydA==')">
            <i class="icon-financial-Financial_Service_Calculator"></i> {{'financial service calculator' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a side-menu-item="change bank account" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('https://cmscn.bmwgroup.com/content/bmw-wechat/ZH_CN/bmw_financeservice/sf_offer4.html')">
            <i class="icon-financial-Change_Bank_Account"></i> {{'change bank account' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="insurance claim" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('https://cmscn.bmwgroup.com/content/bmw-wechat/ZH_CN/bmw_financeservice/sf_offer2.html')">
            <i class="icon-financial-Insurance_Claim"></i> {{'insurance claim' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="balloon extension" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('https://cmscn.bmwgroup.com/content/bmw-wechat/ZH_CN/bmw_financeservice/sf_offer5.html')">
            <i class="icon-financial-Balloon_extension"></i> {{'balloon extension' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a side-menu-item="contract amendment" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('https://cmscn.bmwgroup.com/content/bmw-wechat/ZH_CN/bmw_financeservice/sf_offer1.html')">
            <i class="icon-financial-Contract_Amendment"></i> {{'contract amendment' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="About Installment repayment" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('https://cmscn.bmwgroup.com/content/bmw-wechat/ZH_CN/bmw_financeservice/sf_offer.html')">
            <i class="icon-financial-RepayInstallment"></i> {{'About Installment repayment' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a side-menu-item="apply financial document" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink('https://cmscn.bmwgroup.com/content/bmw-wechat/ZH_CN/bmw_financeservice/sf_offer31.html')">
            <i class="icon-financial-Apply_Financial_Document"></i> {{'apply financial document' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

    </div>
</div>
