<div class="items-group">
    <div class="item item-no-icon bottom-linear-gradient white-space__normal">
         {{'Communicate with your BMW Vehicle' | translate}}
    </div>
    <div class="sub-item">
        <a side-menu-item="Remote" class="item item-icon-right" ng-click="dash.openComingSoonView()">
            <i class="icon-bmw-Remote"></i> {{'Remote' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

         <a side-menu-item="Next trips" class="item item-icon-right linear-gradient" ng-click="dash.openComingSoonView()">
            <i class="icon-bmw-NextTrips"></i> {{'Next trips' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Destinations" class="item item-icon-right linear-gradient" ng-click="dash.openComingSoonView()">
            <i class="icon-bmw-Destination"></i> {{'Destinations' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
