<div class="items-group">
    <div class="item item-icon-left bottom-linear-gradient white-space__normal">
        <i class="bmw-more-mobi-service"></i> {{'BMW mobility service' | translate}}
    </div>

    <div class="sub-item">
        <a side-menu-item="Book a car" class="item item-no-icon item-icon-right" ng-click="dash.toggleSideNav('Reachnow')">
            {{'reachnow' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a side-menu-item="My Trips" class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('Changenow')">
            {{'ChangeNow' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

    </div>
</div>
