<div class="items-group">
    <div class="item item-icon-left bottom-linear-gradient white-space__normal">
        <i class="bmw-more-mobi-service"></i> {{'BMW' | translate}}
    </div>

    <div class="sub-item">
        <a class="item item-no-icon item-icon-right" ng-click="dash.toggleSideNav('BMW1')">
            {{'Communicate with BMW China' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('BMW2')">
            {{'Communicate with your BMW Dearler' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('BMW3')">
            {{'Communicate with your BMW Vehicle' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('BMW4')">
            {{'BMW New Vehicles' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('BMW5')">
            {{'Buy bmw certified used car online' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('BMW6')">
            {{'upgrade your bmw with digital features and accessories' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('BMW7')">
            {{'buy bmw clothes, bags and other lifestyle products online' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
        <a class="item item-no-icon item-icon-right linear-gradient" ng-click="dash.toggleSideNav('BMW8')">
            {{'expore bmw event, media and news' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
