<div class="items-group">
    <div class="item item-no-icon bottom-linear-gradient white-space__normal">
         {{'upgrade your bmw with digital features and accessories' | translate}}
    </div>
    <div class="sub-item">
        <a side-menu-item="connetedDrive store" class="item item-icon-right" ng-click="dash.openExternalLink(dash.bmwConnetedDriveStore)">
            <i class="icon-bmw-ConnectedDrive"></i> {{'connetedDrive store' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Buy accessories online" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.bmwBuyAccessories)">
            <i class="icon-bmw-BuyAccessoriesOnline"></i> {{'Buy accessories online' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
