<div class="items-group">
    <div class="item item-no-icon bottom-linear-gradient white-space__normal">
         {{'BMW New Vehicles' | translate}}
    </div>
    <div class="sub-item">
        <a side-menu-item="Find out what suits you" class="item item-icon-right"
            ng-click="dash.openExternalLinkInDeviceBrowser(dash.bmwFindoutSuitsYou, 'Find out what suits you')">
            <i class="icon-bmw-Findoutwhatsuitsyou"></i> {{'Find out what suits you' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Compare Models" class="item item-icon-right linear-gradient" ng-click="dash.openComingSoonView()">
            <i class="icon-bmw-CompareModels"></i> {{'Compare Models' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Configure models" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.buildYourBMW)">
            <i class="icon-bmw-ConfigureModels"></i> {{'Configure models' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Find a car and negotiate online" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.findVehicleByOnline, 'Find a car and negotiate online')">
            <i class="icon-findcar-negociete"></i> {{'Find a car and negotiate online' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>

        <a side-menu-item="Reguest a test drive / online" class="item item-icon-right linear-gradient" ng-click="dash.openExternalLink(dash.requestTestDriveBMW())">
            <i class="icon-bmw-testdrive"></i> {{'Reguest a test drive / online' | translate}}
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
</div>
