<div class="brandshop__tiles-list">
    <div class="tile-block" ng-click="dash.openExternalLink(dash.shopBuyNewVehicleOnline, 'brandshops-bmw buy new vehicle online')">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/bmw/buynewvehicle.svg">
        <span class="tile__label">{{ 'brandshops-bmw buy new vehicle online' | translate }}</span>
    </div>
    <div class="tile-block" ng-click="dash.openExternalLink(dash.bmwUsedCar)">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/bmw/buyusedvehicle.svg">
        <span class="tile__label">{{ 'brandshops-bmw buy used vehicle online' | translate }}</span>
    </div>
    <div class="tile-block" ng-click="dash.openExternalLink(dash.bmwBuyAccessories)">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/bmw/BuyAccessories.svg">
        <span class="tile__label">{{ 'brandshops-bmw buy accessories online' | translate }}</span>
    </div>
    <div class="tile-block" ng-click="dash.openExternalLink(dash.bmwLifeStyleShop)">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/bmw/LifestyleProduct.svg">
        <span class="tile__label">{{ 'brandshops-bmw lifestyle products' | translate }}</span>
    </div>
</div>
