<div class="brandshop__tiles-list">
    <div class="tile-block" ng-click="dash.openExternalLink(dash.motorradBuyNewVehicleOnline)">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/motorrad/buynewvehicle.svg">
        <span class="tile__label">{{ 'brandshops-motorrad buy new vehicle online' | translate }}</span>
    </div>
    <div class="tile-block" ng-click="dash.openComingSoonView()">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/motorrad/buyusedvehicle.svg">
        <span class="tile__label">{{ 'brandshops-motorrad buy used vehicle online' | translate }}</span>
    </div>
    <div class="tile-block" ng-click="dash.openComingSoonView()">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/motorrad/BuyAccessories.svg">
        <span class="tile__label">{{ 'brandshops-motorrad buy accessories online' | translate }}</span>
    </div>
    <div class="tile-block" ng-click="dash.openComingSoonView()">
        <img class="tile__image" ng-src="{{imageBaseURL}}img/icons/brandshop/motorrad/LifestyleProduct.svg">
        <span class="tile__label">{{ 'brandshops-motorrad lifestyle products' | translate }}</span>
    </div>
</div>
