@font-face {
    font-family: 'BMWGroup';
    src: url('#{$bmw-font-path}/BMWGroup_Regular.ttf');
}
@font-face {
    font-family: 'BMWGlobalBold';
    src: url('#{$bmw-font-path}/BMWGlobal_Pro_bold.ttf');
}
@font-face {
    font-family: 'BMWGroupCondRegular';
    src: url('#{$bmw-font-path}/BMWGroup_Cond_Regular.ttf');
}
