<ion-view hide-tabs view-title="{{ 'Change password' | translate }}">

    <ion-content class="content--no-footer">

        <div class="padding20 form">         
            <form name="changePasswordForm">
                <p class="item--page-description">
                    {{'Your password must consist of a minimum of 8 characters, lower and upper case letters, at least 1 number, at least 1 special character (i.e  #$_*).' | translate}}
                </p>

                <label class="item-input">
                    <span class="item-label">{{'New password' | translate}}</span>
                    <input type="password" ng-pattern="/^\S{8,}$/" ng-model-options="{allowInvalid: true}" ng-model="changePassword.newPassword" required>
                    <span class="item-label--error" input-name="newPassword"  ng-model="changePassword.newPassword" validate-password></span>
                </label>

                <label class="item-input">
                    <span class="item-label">{{'Repeat new password' | translate}}</span>
                    <input type="password" ng-pattern="/^\S{8,}$/" ng-model-options="{allowInvalid: true}" ng-model="changePassword.confirmNewPassword" required>
                    <span class="item-label--error" input-name="confirmNewPassword" ng-model="changePassword.confirmNewPassword" repeat-password="{{changePassword.newPassword}}"></span>
                </label>

                <label class="item-input">
                    <span class="item-label">{{'Type the two words' | translate}}</span>
                    <input type="tel" ng-model="changePassword.captchaValue" required>
                </label>

                <div class="captcha-box" set-captcha-id="changePassword.setCaptchaId(id)" my-captcha="changePassword.isCaptchaExpired"></div>

                <form-error error-msg="changePassword.errorMsg"></form-error>                
            </form>            
        </div>

        <div class="padding20">
            <button class="button button-full button-positive" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword.submit()">
                {{'Change Password' | translate}}
            </button>
        </div>
        
    </ion-content>

</ion-view>
